.sidebarContainer {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 30px;
  box-shadow: 0 0 8px #000;
  z-index: 991;
  position: fixed;
  height: 10vh;

  .gammaLogo {
    width: 40px;
  }

  .menuBtn img {
    width: 40px;
  }
}