//Light Mode Colors:

//Dark Mode Colors:
.dark {
  --primary-color: #FFEB12;
  --secondary-color: #E0C90F;
  --tertiary-color: #C1A60C;
  --quaternary-color: #9E880B;
  --text-color: #fff;
  --shadow-color: rgba(255, 255, 255, 0.25);
  --borderV1-color: #FFEB12;
  --borderV2-color: #E0C90F;
  --button-color: #C8D0DE;
  --buttonText-color: #000;
  --selected-color: #7F8693;
}

.light {
  --primary-color: #C1A60C;
  --secondary-color: #9E880B;
  --tertiary-color: #74640D;
  --quaternary-color: #534807;
  --text-color: #fff;
  --shadow-color: rgba(255, 255, 255, 0.25);
  --borderV1-color: #FFEB12;
  --borderV2-color: #E0C90F;
  --button-color: #C8D0DE;
  --buttonText-color: #000;
  --selected-color: #7F8693;
}

//Device sizes:
$large-device: 1528px;
$semi-large-device: 1280px;
$medium-device: 1024px;
$semi-medium-device: 768px;
$small-device: 425px;
$semi-small-device: 290px;