.appLayout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: row;

  &.mobileOrientation {
    flex-direction: column;
  }

  .pageMainContent {
    width: calc(100% - 100px);
    background-color: #1A1A1A;
  }
}
