.appLayout {
  display: flex;
  min-height: 100vh;
  flex-direction: row;

  &.mobileOrientation {
    flex-direction: column;
  }

  .pageMainContent {
    flex: 1;
    background-color: #1A1A1A;
  }
}
