.welcomePageContainer {
  background-color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .welcomeContentContainer {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    img {
      width: 96px;
      filter: drop-shadow(0 8px 20px #ffeb12);
      margin-bottom: 50px;

      @media screen and (min-width: $mobile-large) {
        width: 126px;
      }
    }
  
    h1 {
      font-size: 24px;
      font-weight: 400;
      font-style: italic;
      color: #fff;
      margin-bottom: 40px;

      @media screen and (min-width: $mobile-small) {
        font-size: 28px;
      }

      &:hover { cursor: default;}
    }
  
    p {
      color: transparent;
      font-size: 28px;
      font-weight: bold;
      -webkit-text-stroke: 1px #ffffff;
      width: 85%;
      margin-bottom: 100px;

      @media screen and (min-width: ($tablet - 32px)) {
        width: 70%;
      }

      @media screen and (min-width: ($laptop - 124px)) {
        width: 43%;
      }
  
      span {
        color: #fff;
        -webkit-text-stroke: 0;
      }

      &:hover { cursor: default;}
    }
  
    button {
      border: 1px solid #ffeb12;
      border-radius: 8px;
      padding: 10px 20px;
      background-color: #000;
      color: #fff;
      font-weight: 600;
      font-size: 22px;
      box-shadow: 0 0 8px #e0c90f;
      transition: 0.25s;

      &:hover {
        background-color: #ffeb12;
        color: #000;
        box-shadow: 0 0 15px 2px #e0c90f;
      }
    }
  }
}