.DateDetailsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    height: 100vh;
    min-width: 30%;
    width: 30%;
    background-color: #313131;
    padding:  10px 40px;
    box-shadow: 0 0 8px #000;
    cursor: default;

    .closeBtn {
        color: #fff;
        font-weight: 500;
        align-self: flex-end;
        font-size: 24px;
        min-height: 24px;
        min-width: 24px;
    }

    .dateTitle {
        display: flex;
        color: #fff;
        font-weight: 500;
        border-bottom: 2px solid #FFEB12;
        padding-bottom: 5px;
        padding: 0 8px;
        font-size: 24px;
    }

    .evtsContainerTitle {
        color: #fff;
        margin-top: 25px;
        font-weight: 500;
        margin-bottom: 15px;
        font-size: 20px;
    }

    .eventsContainer {
        background-color: #1E1E1E;
        width: 100%;
        min-height: 75%;
        overflow-y: scroll;
        padding: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        .eventCard {
            width: 100%;
            min-height: 80px;
            border-radius: 4px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            flex-direction: row;
            background-color: rgba(255, 235, 18, 0.35);

            &:last-child {
                margin-bottom: 0;
            }

            .leftMark {
                background-color: #FFEB12;
                width: 6px;
                align-self: stretch;
                border-radius: 4px 0 0 4px;
            }

            .evtCardContent {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                padding: 0 10px;

                .defaultContent {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    min-height: 80px;
                    
                    .titleAndTime {
                        color: #fff;
                        font-weight: 600;
    
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }

                        &.checked {
                            text-decoration: line-through;
                        }
    
                        .title {
                            margin-bottom: 4px;
                        }
    
                        .time {
                            font-size: 13px;
                        }
                    }

                    .checkEvtBtn {
                        border: 1px solid #FFEB12;
                        border-radius: 4px;
                        height: 23px;
                        width: 23px;
                        margin-right: 15px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        
                        .checkbox {
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }

                        .checkmark {
                            position: relative;
                            top: 0;
                            left: 0;
                            min-height: 23px;
                            min-width: 23px;
                            background-color: transparent;
                            border: 1px solid #FFEB12;
                            border-radius: 4px;
                        }

                        .checkmark::after {
                            content: "";
                            position: absolute;
                            display: none;
                        }

                        .checkbox:checked ~ .checkmark::after {
                            display: block;
                        }

                        .checkmark::after {
                            left: 31%;
                            top: 15%;
                            width: 7px;
                            height: 12px;
                            border: solid #000;
                            border-width: 0 1px 1px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }
    
                .expandedDetailsContainer {
                    border-top: 1px solid #FFEB12;
                    width: 100%;
                    padding: 10px 0;

                    span {
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        img {
                            width: 25px;
                            margin-right: 5px;
                        }

                        .linkIcon {
                            transform: rotate(-45deg);
                        }

                        p, a {
                            color: #fff;
                            font-size: 13px;
                            font-weight: 600;
                        }

                        a:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }

                    .descriptionContainer {}
                }
            }

        }

        .noEvtMessage {
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            margin: auto;
        }
    }

    .newEvtBtn {
        background-color: #FFEB12;
        color: #000;
        font-weight: 600;
        font-size: 16px;
        width: 100%;
        padding: 15px 0;
        margin-top: 30px;
        min-height: 58px;
    }
}