.DateDetailsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    height: 100vh;
    min-width: 30%;
    width: 30%;
    background-color: #313131;
    padding:  10px 40px;
    box-shadow: 0 0 8px #000;
    cursor: default;

    .closeBtn {
        color: #fff;
        font-weight: 500;
        align-self: flex-end;
        font-size: 24px;
        min-height: 24px;
        min-width: 24px;
    }

    .dateTitle {
        display: flex;
        color: #fff;
        font-weight: 500;
        border-bottom: 2px solid #FFEB12;
        padding-bottom: 5px;
        padding: 0 8px;
        font-size: 24px;
    }

    .evtsContainerTitle {
        color: #fff;
        margin-top: 25px;
        font-weight: 500;
        margin-bottom: 15px;
        font-size: 20px;
    }

    .newEvtBtn {
        background-color: #FFEB12;
        color: #000;
        font-weight: 600;
        font-size: 16px;
        width: 100%;
        padding: 15px 0;
        margin-top: 30px;
        min-height: 58px;
    }
}