.calendarPageContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    overflow-y: scroll;

    .monthSelectorContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-start;

        p {
            color: #fff;
            font-weight: 400;
            font-size: 40px;
            margin-right: 20px;
        }
    }
}